.search-bar {
    border: 2px solid #009879;
    border-radius: 10px 10px 10px 10px;
    background-image: url('../../resources/img/search-icon.svg');
    background-repeat: no-repeat;
    background-position: 10px 50%;
    padding: 5px;
    text-indent: 40px;
}

.search-bar::placeholder {    
    text-indent: 40px;
}

.table-title {
    background-color: lightblue;
}

.table-column {
    width: 100px;
}

.youth-user-table {
    border-collapse: collapse;
    margin: 25px 0px;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.youth-user-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.youth-user-table th,
.youth-user-table td {
    padding: 12px 15px;
}

.youth-user-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.youth-user-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.youth-user-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.youth-user-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}