* {
  box-sizing: border-box;
}

.text-white {
  text-decoration-color: white;
}

/* menu sign-up */
.su-label-input-box {
  text-align: left;
}

.su-btn {
  padding-left: 12%;
  padding-right: 12%;
}

.su-box-padding {
  padding: 9%;
}

/* transparent input field */
.tr-input-box {
  border: none;
  opacity: 60%;
  border-radius: 20px;
  text-align: center;
}

.error-login {
  background: #F2DEDE;
  color: #A94442;
  padding: 10px;
  width: 95%;
  border-radius: 5px;
}
